body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #fafafa;
  color: #222;
  font-size: 16px;
}

header {
  background: #2c3e50;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.2rem;
}

h2 {
/*   border-bottom: 2px solid #ccc; */
  padding-bottom: 0.3rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #333;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 1.5rem 1rem;
}

p {
  margin-bottom: 1.2rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.date, .location {
  font-weight: 500;
  color: #666;
  font-size: 0.95rem;
}

footer {
  background: #eee;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 2rem;
}
